<h3>Listado de Heroes</h3>

<!-- evalua 2 veces usando ngif para ambos casos -->

<div *ngIf="deletedHero; else nothingWasDeleted">
  <h3>Heroe borrado <small class="text-danger">{{deletedHero}}</small></h3>
</div>

<!-- como un esta etiqueta trabaja como un fragmento '<>' -->
<ng-template #nothingWasDeleted >
  <h3>No ha borrado nada</h3>
</ng-template>

<button
*ngIf="heroNames.length > 0"
(click)="removeLastHero()"
 class="btn btn-outline-danger">
  Borrar ultimo heroe
</button>

<ul class="mt-2 list-group">
  <li
  *ngFor="let name of heroNames"
  class="list-group-item">{{name}}</li>
</ul>
